html {
  background-image: linear-gradient(65deg, pink, lightblue);
  height: 100%;
}

#gameContainer {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#scoreBoard,
#buttons {
  color: white;
  font-size: 60px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  user-select: none;
}

.tile {
  font-size: 70px;
  color: white;
  text-align: center;
  height: 5rem;
}

.tile:nth-child(3n + 2) {
  border-right: 5px solid white;
  border-left: 5px solid white;
}

.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(6) {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.hoverAnimation {
  color: rgba(255, 255, 255, 0.6);
  animation-iteration-count: infinite;
  animation-name: breath;
  animation-duration: 1s;
}

@keyframes breath {
  0% {
    font-size: 70px;
  }

  50% {
    font-size: 75px;
  }

  100% {
    font-size: 70px;
  }
}
