html {
  background-image: linear-gradient(65deg, pink, lightblue);
  height: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 70px;
  -webkit-text-stroke: 1px black;
}

#gameContainer {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-text-stroke: 1px black;
}

#scoreBoard {
  -webkit-text-stroke: 1px black;
  font-size: 70px;
}

#scoreBoard,
#buttons {
  color: white;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  user-select: none;
}

.tile {
  font-size: 70px;
  color: white;
  text-align: center;
  height: 5rem;
}

.tile:nth-child(3n + 2) {
  border-right: 5px solid white;
  border-left: 5px solid white;
}

.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(6) {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.hoverAnimation {
  color: rgba(255, 255, 255, 0.6);
  animation-iteration-count: infinite;
  animation-name: breath;
  animation-duration: 1s;
}

@keyframes breath {
  0% {
    font-size: 70px;
  }

  50% {
    font-size: 75px;
  }

  100% {
    font-size: 70px;
  }
}

input {
  color: white;
  border: 0px;
  padding: 15px;
  margin: 25px;
  font-size: 26px;
  background-color: rgb(13, 116, 235);
  transition: 0.3s;
}

input:hover {
  background-color: rgb(14, 104, 207);
  transition: 0.3s;
}

input:active {
  background-color: rgb(10, 80, 161);
  transition: 0.3s;
}
